<p id="notice"><%= notice %></p>

<h1>Students</h1>


    <% @students.each do |student| %>
    <div class="container">
      <div class="well">
          <%= student.name %>
          <%= student.age %>
          <%= link_to 'Show', student, class: 'btn btn-primary'%>
          <%= link_to 'Edit', edit_student_path(student), class: 'btn btn-warning' %>
          <%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </div>
    </div>
    <% end %>

<br>

<%= link_to 'New Student', new_student_path %>
